numpy==1.26.4
pandas
opencv-python
Pillow
tqdm
pyyaml

torch==2.2.2
torchvision==0.17.2
timm==0.9.16

ultralytics

scikit-learn
matplotlib
seaborn

albumentations
imagehash

sqlite-utils

notebook
ipykernel

python-dotenv

jupyterlab